<style>
  body{
    background-image: url("http://i243.photobucket.com/albums/ff163/AzhreiVep/Avatars/SquirrelFlameThrower.jpg");
    background-size: cover;
    color: white
  }
 </style>
<h1>{{title}}</h1>

<div>
  <h3>Entry 2</h3>
  <p>Lorem ipsum dolor sit amet, vestibulum hac quam sagittis suspendisse curabitur ornare, non nunc libero, pede litora nibh, morbi fugiat augue morbi nulla suspendisse, ut ipsum molestiae amet eget dictum. Etiam ut aut risus vel, tristique nec at malesuada sapien ligula. Porttitor enim magna vehicula vel tempus nisl, maiores dapibus, tincidunt massa aliquet lorem tellus fusce, risus tortor condimentum sed erat fringilla morbi, sodales anim vivamus. Nam nisl sed tempor, et nulla justo, et sed, quisque ut vivamus, natoque a donec enim. Maecenas diam tempus, ac consectetuer luctus rutrum adipiscing sed ut, non erat. Ante donec sociosqu erat sollicitudin vivamus augue, odio tincidunt suscipit, a a vel arcu id, dui sed luctus. Aptent ultricies venenatis dictum congue purus, ante dui massa auctor tortor, vestibulum tellus lectus nec suspendisse, lorem ullamcorper suspendisse amet sodales, bibendum ac nunc sit quis purus orci. Aliquam nulla ut neque. Suspendisse mauris vel dui vulputate, congue metus porttitor class sapien cras neque, sem alias aenean integer lorem, leo ipsum vel id id neque phasellus.</p>
</div>

<div>
  <a href="/"><button> GO HOME, YOU'RE DRUNK </button></a>
</div>
