<style>
  body{
    background-image: url("http://crooksandliars.com/files/imagecache/node_primary/primary_image/14/11/copcaronfire.jpg");
    background-size: cover;
    color: white
  }
 </style>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
  <a href="/entry1"><button>First Entry</button></a>
</div>
<div>
  <a href="/entry2"><button>Second Entry</button></a>
</div>
<div>
  <a href="/entry3"><button>Third Entry</button></a>
</div>
